.logger-header {
  margin-bottom: 1.5rem;
  text-align: left;

  .ant-select,
  .ant-picker {
    width: 100%;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
  }

  &__search-action {
    flex-grow: 1;
    background-color: #10489B;
  }

  &__clear-action {
    font-size: 1rem;
    font-weight: bold;
    background-color: #10489B;
    border-radius: 5px;
  }
}
